h1 {
    color: red;
}
h2 {
    background-color: aquamarine;
}
a {
    color: blue;
}
.verde {
    color: green;
}
#main-title {
    font-style: italic;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
div > h2 {
    font-size: smaller;
}